<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713831538724-3da6psnrf6qi1703iduu7hv0c1p5trsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713831538724-3da6psnrf6qi1703iduu7hv0c1p5trsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBJC50IQldLIre3piCwPtubO_4O8c9WpXM</string>
	<key>GCM_SENDER_ID</key>
	<string>713831538724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kelvingao.Event-App</string>
	<key>PROJECT_ID</key>
	<string>dcode-event-au</string>
	<key>STORAGE_BUCKET</key>
	<string>dcode-event-au.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713831538724:ios:2156c1f1ade982058678b1</string>
</dict>
</plist>